*{
    margin: 0;
    padding: 0;
    color: white;
}

#navbar{
    background-color: #0f1111;
    height: 60px;
    width: 100%;
}

#logo{
    color: #f08804;
    font-size: 25px;
}
button{
    background-color: #f08804   ;
}
a{
    text-decoration: none;
    margin: 10px 170px 170px 10px;
    padding: 2px;
}